{% extends 'base.html.twig' %}

{% block title %}Accueil - Véhicloc{% endblock %}

{% block content %}
<section id="fleet">
    <h2>Découvrez la flotte de véhicules chez Véhicloc</h2>
    <p>Que vous ayez besoin d'une petite citadine agile, d'une berline élégante ou même d'un SUV spacieux, nous avons une variété de véhicules pour répondre à vos exigences.</p>

    <div class="fleet-list">
        {% for voiture in voitures %}
            <article>
                <div class="mini-car-title">
                    <h3>{{ voiture.marque }} {{ voiture.modele }}</h3>
                    <p>{{ voiture.ville }} | ou similaire</p>
                    <div>
                        <a href="#"><img src="{{ asset('assets/icons/trash.png') }}" alt="Supprimer" /></a>
                    </div>
                </div>

                <div class="mini-car-icons">
                    <div>
                        <img src="{{ asset('assets/icons/persons.png') }}" alt="Places" />
                        <p>{{ voiture.places }} places</p>
                    </div>
                    <div>
                        <img src="{{ asset('assets/icons/motor.png') }}" alt="Transmission" />
                        <p>{{ voiture.transmission }}</p>
                    </div>
                    <div>
                        <img src="{{ asset('assets/icons/km.png') }}" alt="Km" />
                        <p>{{ voiture.kilometrage }}</p>
                    </div>
                    <div>
                        <img src="{{ asset('assets/icons/plus.png') }}" alt="Plus" />
                        <p>Plus</p>
                    </div>
                </div>

                <div class="mini-car-price">
                    <p class="price-per-day">{{ voiture.prixParJour }} € / jour</p>
                    <p class="price-per-month">{{ voiture.prixParMois }} € / mois</p>
                </div>
            </article>
        {% else %}
            <p>Aucune voiture disponible actuellement.</p>
        {% endfor %}
    </div>
</section>
{% endblock %}
